[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git@github.com:jlanzarotta/bufexplorer.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git@github.com:wincent/command-t.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git@github.com:mattn/gist-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/onedark.vim"]
	path = bundle/onedark.vim
	url = git@github.com:joshdick/onedark.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git@github.com:tomtom/tlib_vim.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git@github.com:tpope/vim-bundler.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git@github.com:skammer/vim-css-color.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git@github.com:tpope/vim-cucumber.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git@github.com:tpope/vim-rake.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = git@github.com:slim-template/vim-slim.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git@github.com:mattn/webapi-vim.git
